<div class="menu_bar">
  <%= render partial: 'shared/menu', locals: { title: 'Edit Category', menu_path: root_path } %>
</div>

<section class="edit_add_page category">
  <%= form_with model: @category, url: category_path(id: @category.id), local: true do |f| %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.file_field :icon %>
    <div class="form_btn">
      <%= f.submit "Update Category", class: 'list_btn' %>
      <button class="list_btn"><%= link_to "Back", category_path(id: @category.id) %></button>
    </div>
  <% end %>
</section>