<% if @category.icon.attached?%>
    <%= image_tag(@category.icon) %>
  <%else%>
    <%= image_tag('group-money.svg') %>
  <%end%>
<h1><%= @category.name %></h1>

<%= link_to "Edit this category", edit_category_path(@category) %>
<%= link_to "Back to categories", categories_path %>
<%= button_to "Destroy this category", @category, method: :delete %>